.dropdown{
  position: relative;
  &-link{

  }
  &-body{
    @include border-radius($radius);
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    border: 1px solid #ccc;
  }
}

.file-list{
  color: $text-main;
  border-right: 1px solid $color-border;
  flex-shrink: 0;
  overflow-y: auto;
  .file-list-item{
    @extend .unselectable;
    text-align: center;
    line-height: $catalog-height - $catalog-pd-tb * 2;
    padding: $catalog-pd-tb $catalog-pd-lr;
    cursor: pointer;
    border-bottom: 1px solid $color-border;
    &:last-item{
      border-bottom: none;
    }
    > div{
      height: $catalog-height - $catalog-pd-tb * 2;
    }
    &:hover{
      background-color: $bg-td-highlighted;
    }
    &.active{
      background-color: $color-main;
      color: white;
    }
  }
  &::-webkit-scrollbar {
    z-index: 50;
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-border;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

