$fz-list: 13px;
$table-padding-tb: 2px;
$table-padding-lr: 5px;
$bg-td-highlighted: transparentize($color-main, 0.95);
$height-word-item: 26px;

.virtual-list{
  height: 100%;
  padding-bottom: 10px; // virtual-scroller 时的末尾 padding
}

.list-container{
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
}

.group{
  font-size: $fz-list;
  color: $text-main;
  .group-header{
    padding: 5px 10px 5px 35px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.active{
      background-color: transparentize($color-main, 0.9);
      h3{
        color: $color-main;
      }
    }
    &:hover{
      @include transition(all 0.3s);
      background-color: transparentize($color-main, 0.95);
      .operation{
        opacity: 1;
      }
    }
    h3{
      flex-grow: 1;
      font-size: $fz-list;
      line-height: $height-input + 2;
    }
    input{

    }
    .operation{
      opacity: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > * {
        margin-left:5px;
      }
      @include transition(all 0.3s);
    }
  }
}
.word-list{
}
.word-item{
  height: $height-word-item;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0 20px;
  &:first-child{
    .operation{
      justify-content: flex-end;
    }
  }
  &:after{
    content: '';
    height: 1px;
    position: absolute;
    bottom: -1px;
    width: calc(100% - 45px);
    right: 0;
    background-color: $color-border;
  }
  .checkbox-cell{
    padding-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .code{
    min-width: $fz-list * 4;
    width: 10%;
    color: $text-title;
    //font-family: monospace;
  }
  .word{
    line-height: 1.1;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .id{
    width: $fz-list * 3;
    margin-right: 10px;
    color: $text-subtitle;
  }
  .operation{
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    opacity: 0.3;
    @extend .unselectable;
    display: flex;
    justify-content: flex-start;
    .up, .down{
      cursor: pointer;
      padding: 5px 6px;
      @include border-radius(2px);
      img{
        display: block;
        width: 8px;
      }
      &:hover{
        background-color: white;
      }
      &:active{
        transform: translateY(1px);
      }
    }
  }

  &:hover{
    background-color: $bg-td-highlighted;
    .operation{
      opacity: 1;
    }
  }
}
