.search-bar{
  width: 100%;
  overflow-x: auto;
  z-index: 10;
  border-bottom: 1px solid $color-border;
  background-color: $bg-panel;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  > *{
    margin-right: 5px;
  }
}

input, select{
  font-size: inherit;
  line-height: $height-input - $padding-input-tb * 2;
  border: 1px solid $border-color-input;
  @include border-radius($radius);
  padding: $padding-input-tb 8px;
  &.code{
    //font-family: monospace;
    width: 5rem;
    flex-shrink: 0;
  }
  &.word{
    flex-shrink: 0;
    width: 12rem;
  }
  &:focus{
    border-color: transparentize($color-main, 0.4);
    @include box-shadow(0 0 0 2px transparentize($color-main, 0.7))
  }
  @include transition(all, 0.5s)
}
select{
  min-width: 80px;
  option{
    padding: 10px;

  }
}
