$fz-table: 12px;

.table-item{
  h3{
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.table{
  width: 100%;
  margin-bottom: 20px;
  @include border-radius(5px);
  border-collapse: collapse;
}

td{
  padding: 2px 5px;
  border-bottom: 1px solid $border-color;
}

tbody{
  color: $text-main;
  td{
    font-size: $fz-table;
    &.checkbox{
      width: 2rem;
    }
    &.code{
      width: 10%;
    }
    &.word{
      width: 60%;
    }
    &.operation{
      width: 20%;
    }
  }
  tr{
    &:first-child{
      td{
        //border-top: 1px solid $border-color;
      }
    }
    &:hover{
      td{
        background-color: $bg-td;
      }
    }
  }
}
