@import "_reset.css";
/*
  Extension
*/
.unselectable, input[type=checkbox] + label.checker, .btn, .btn-group .btn-vertical > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.m-1 {
  margin: 5px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.p-1 {
  padding: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.m-2 {
  margin: 10px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.p-2 {
  padding: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.m-3 {
  margin: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.p-3 {
  padding: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.m-4 {
  margin: 20px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.p-4 {
  padding: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.m-5 {
  margin: 25px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.p-5 {
  padding: 25px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.m-6 {
  margin: 30px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.p-6 {
  padding: 30px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.m-7 {
  margin: 35px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.p-7 {
  padding: 35px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.m-8 {
  margin: 40px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.p-8 {
  padding: 40px !important;
}

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.table-item h3 {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-collapse: collapse;
}

td {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
}

tbody {
  color: #000;
}
tbody td {
  font-size: 12px;
}
tbody td.code {
  width: 72px;
}
tbody tr:hover td {
  background-color: #eee;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.btn, .btn-group .btn-vertical > * {
  color: inherit;
  line-height: 20px;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  padding: 2px 8px;
  background-color: white;
}
.btn:active, .btn-group .btn-vertical > :active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: #000;
  background-color: white;
  border: 1px solid #ddd;
}
.btn-primary:hover {
  border-color: #e6e6e6;
}
.btn-primary:active {
  background-color: #e6e6e6;
}

.btn-green {
  color: white;
  background-color: #4CD964;
  border: 1px solid #4CD964;
}
.btn-green:hover {
  border-color: #2ac845;
}
.btn-green:active {
  background-color: #2ac845;
}

.btn-blue {
  color: white;
  background-color: #007AFF;
  border: 1px solid #007AFF;
}
.btn-blue:hover {
  border-color: #0062cc;
}
.btn-blue:active {
  background-color: #0062cc;
}

.btn-orange {
  color: white;
  background-color: #FF9500;
  border: 1px solid #FF9500;
}
.btn-orange:hover {
  border-color: #cc7700;
}
.btn-orange:active {
  background-color: #cc7700;
}

.btn-roseo {
  color: white;
  background-color: #FF2D70;
  border: 1px solid #FF2D70;
}
.btn-roseo:hover {
  border-color: #f9004f;
}
.btn-roseo:active {
  background-color: #f9004f;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label.switch {
  position: relative;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 28px;
  width: 48px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox] + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.switch {
  background-color: #4CD964;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox]:checked + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  left: 22px;
  right: 0;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox] + label.checker {
  cursor: pointer;
  display: block;
  border-color: #4CD964;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.checker {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #4CD964;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-group {
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid #eee;
  margin: 0 5px 5px 0;
}
.btn-group.dash {
  border-style: dashed;
}
.btn-group.dash > * {
  border-color: inherit;
  border-right-style: dashed;
}
.btn-group > * {
  border-right: 1px solid #eee;
}
.btn-group > *:last-child {
  border-right: none;
}
.btn-group .btn-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.btn-group .btn-vertical > * {
  padding: 2px;
  font-size: 7px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 50%;
  width: 20px;
}
.btn-group .btn-vertical > *:last-child {
  border-bottom: none;
}
.btn-group:last-child {
  margin-right: 0;
}
.btn-group.no-border {
  border: none !important;
}

input[type=radio] + label {
  background-color: white;
}

input[type=radio]:checked + label {
  font-weight: bold;
  background-color: #FF9500;
  color: white !important;
}
input[type=radio]:checked + label:hover {
  background-color: #ffa01a;
}

label.btn, .btn-group .btn-vertical > label {
  min-width: 30px;
  text-align: center;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

body {
  font-size: 12px;
}

.container {
  position: relative;
  padding: 10px;
}

.search-bar {
  z-index: 10;
  border-bottom: 1px solid #eee;
  background-color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.search-bar > * {
  margin-right: 5px;
}
.search-bar input, .search-bar select {
  font-size: inherit;
  line-height: 18px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 8px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.search-bar input.code, .search-bar select.code {
  width: 5rem;
}
.search-bar input.word, .search-bar select.word {
  width: 12rem;
}
.search-bar input:focus, .search-bar select:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.search-bar select {
  min-width: 80px;
}

.shadow {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
}

.hidden, .prototype {
  display: none;
}

[v-cloak] {
  display: none;
}
