@import "reset.css";
@font-face {
  font-family: "Roboto-v27-light";
  src: url("../fonts/Robotov27-light.woff2");
}
@font-face {
  font-family: "Roboto-v27-regular";
  src: url("../fonts/Robotov27-regular.woff2");
}
@font-face {
  font-family: "Comfortaa-v30";
  src: url("../fonts/Comfortaa-v30.woff2");
}
.font-roboto, .word-item .id, .word-item .priority {
  font-family: "Roboto-v27-light", Roboto, SansSerif;
}

.font-roboto-regular, .footer .footer-toolbar .info-list .number {
  font-family: "Roboto-v27-regular", Roboto, SansSerif;
}

.font-comfortaa {
  font-family: "Comfortaa-v30", Roboto, SansSerif;
}

.unselectable, .config-list .config-list-item, .file-list-item, .catalog-list .catalog-item, .footer .footer-toolbar .link-list .link, .btn, .word-item .operation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.m-1 {
  margin: 5px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.p-1 {
  padding: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.m-2 {
  margin: 10px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.p-2 {
  padding: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.m-3 {
  margin: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.p-3 {
  padding: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.m-4 {
  margin: 20px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.p-4 {
  padding: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.m-5 {
  margin: 25px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.p-5 {
  padding: 25px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.m-6 {
  margin: 30px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.p-6 {
  padding: 30px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.m-7 {
  margin: 35px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.p-7 {
  padding: 35px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.m-8 {
  margin: 40px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.p-8 {
  padding: 40px !important;
}

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.virtual-list {
  height: 100%;
  padding-bottom: 10px;
}

.list-container {
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
}

.group {
  font-size: 13px;
  color: #000;
}
.group .group-header {
  padding: 5px 10px 5px 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #FF2D70;
}
.group .group-header.active {
  background-color: rgba(255, 45, 112, 0.05);
}
.group .group-header:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 45, 112, 0.05);
}
.group .group-header:hover .operation {
  opacity: 1;
}
.group .group-header input {
  margin-right: 10px;
}
.group .group-header h3 {
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
}
.group .group-header .operation {
  margin-right: 10px;
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.group .group-header .operation > * {
  margin-left: 5px;
}
.group .group-header .tip {
  flex-grow: 1;
  text-align: right;
  font-size: 11px;
}

.word-list {
  padding-bottom: 20px;
}

.word-item {
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0 20px;
}
.word-item:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1px;
  width: calc(100% - 45px);
  right: 0;
  background-color: #eee;
}
.word-item .checkbox-cell {
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.word-item .code {
  line-height: 24px;
  min-width: 15%;
  padding-right: 20px;
  color: #333;
}
.word-item .word {
  padding-right: 10px;
  line-height: 24px;
  flex-shrink: 0;
  flex-grow: 1;
}
.word-item .priority {
  padding-right: 10px;
  text-align: right;
  width: 10%;
  color: #848484;
  font-size: 11px;
}
.word-item .id {
  text-align: right;
  padding-right: 10px;
  width: 72px;
  color: #848484;
  font-size: 11px;
}
.word-item .operation {
  width: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0.2;
  display: flex;
  justify-content: flex-start;
}
.word-item .operation .up, .word-item .operation .down {
  cursor: pointer;
  padding: 5px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.word-item .operation .up img, .word-item .operation .down img {
  display: block;
  width: 8px;
}
.word-item .operation .up:hover, .word-item .operation .down:hover {
  background-color: white;
}
.word-item .operation .up:active, .word-item .operation .down:active {
  transform: translateY(1px);
}
.word-item:hover {
  background-color: rgba(255, 45, 112, 0.05);
}
.word-item:hover .checkbox-cell label {
  border-color: #FF2D70;
}
.word-item:hover .operation {
  opacity: 1;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.btn {
  font-size: 12px;
  color: inherit;
  line-height: 20px;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  padding: 2px 8px;
  background-color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.btn:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover:active {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.btn-sm {
  font-size: 11px;
  line-height: 14px;
  padding: 2px 3px;
}

.no-border {
  border: none !important;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  color: #000;
  background-color: white;
  border: 1px solid #d9d9d9;
}
.btn-primary:hover {
  background-color: #f7f7f7;
  border-color: #d1d1d1;
}
.btn-primary:active {
  background-color: #e6e6e6;
}

.btn-green {
  color: white;
  background-color: #4CD964;
  border: 1px solid #4CD964;
}
.btn-green:hover {
  background-color: #2cd048;
  border-color: #2cd048;
}
.btn-green:active {
  background-color: #2ac845;
}

.btn-cyan {
  color: white;
  background-color: #5AC8FA;
  border: 1px solid #5AC8FA;
}
.btn-cyan:hover {
  background-color: #32bbf9;
  border-color: #32bbf9;
}
.btn-cyan:active {
  background-color: #29b8f9;
}

.btn-blue {
  color: white;
  background-color: #007AFF;
  border: 1px solid #007AFF;
}
.btn-blue:hover {
  background-color: #0066d6;
  border-color: #0066d6;
}
.btn-blue:active {
  background-color: #0062cc;
}

.btn-purple {
  color: white;
  background-color: #5856D6;
  border: 1px solid #5856D6;
}
.btn-purple:hover {
  background-color: #3835ce;
  border-color: #3835ce;
}
.btn-purple:active {
  background-color: #3331c8;
}

.btn-yellow {
  color: white;
  background-color: #FFCC00;
  border: 1px solid #FFCC00;
}
.btn-yellow:hover {
  background-color: #d6ab00;
  border-color: #d6ab00;
}
.btn-yellow:active {
  background-color: #cca300;
}

.btn-orange {
  color: white;
  background-color: #FF9500;
  border: 1px solid #FF9500;
}
.btn-orange:hover {
  background-color: #d67d00;
  border-color: #d67d00;
}
.btn-orange:active {
  background-color: #cc7700;
}

.btn-roseo {
  color: white;
  background-color: #FF2D70;
  border: 1px solid #FF2D70;
}
.btn-roseo:hover {
  background-color: #ff0454;
  border-color: #ff0454;
}
.btn-roseo:active {
  background-color: #f9004f;
}

.btn-red {
  color: white;
  background-color: #FF3B30;
  border: 1px solid #FF3B30;
}
.btn-red:hover {
  background-color: #ff1407;
  border-color: #ff1407;
}
.btn-red:active {
  background-color: #fc0d00;
}

.btn-gray {
  color: white;
  background-color: #8E8E93;
  border: 1px solid #8E8E93;
}
.btn-gray:hover {
  background-color: #79797f;
  border-color: #79797f;
}
.btn-gray:active {
  background-color: #74747a;
}

.btn-alt-primary {
  border: 1px solid transparent;
  background-color: transparent;
  color: #000;
}
.btn-alt-primary:hover {
  border-color: #000;
  color: #000;
}
.btn-alt-primary:active {
  color: #000;
}

.btn-alt-green {
  border: 1px solid transparent;
  background-color: transparent;
  color: #4CD964;
}
.btn-alt-green:hover {
  color: #4CD964;
  border-color: #4CD964;
}
.btn-alt-green:active {
  color: #4CD964;
}

.btn-alt-cyan {
  border: 1px solid transparent;
  background-color: transparent;
  color: #5AC8FA;
}
.btn-alt-cyan:hover {
  color: #5AC8FA;
  border-color: #5AC8FA;
}
.btn-alt-cyan:active {
  color: #5AC8FA;
}

.btn-alt-blue {
  border: 1px solid transparent;
  background-color: transparent;
  color: #007AFF;
}
.btn-alt-blue:hover {
  color: #007AFF;
  border-color: #007AFF;
}
.btn-alt-blue:active {
  color: #007AFF;
}

.btn-alt-purple {
  border: 1px solid transparent;
  background-color: transparent;
  color: #5856D6;
}
.btn-alt-purple:hover {
  color: #5856D6;
  border-color: #5856D6;
}
.btn-alt-purple:active {
  color: #5856D6;
}

.btn-alt-yellow {
  border: 1px solid transparent;
  background-color: transparent;
  color: #FFCC00;
}
.btn-alt-yellow:hover {
  color: #FFCC00;
  border-color: #FFCC00;
}
.btn-alt-yellow:active {
  color: #FFCC00;
}

.btn-alt-orange {
  border: 1px solid transparent;
  background-color: transparent;
  color: #FF9500;
}
.btn-alt-orange:hover {
  color: #FF9500;
  border-color: #FF9500;
}
.btn-alt-orange:active {
  color: #FF9500;
}

.btn-alt-roseo {
  border: 1px solid transparent;
  background-color: transparent;
  color: #FF2D70;
}
.btn-alt-roseo:hover {
  color: #FF2D70;
  border-color: #FF2D70;
}
.btn-alt-roseo:active {
  color: #FF2D70;
}

.btn-alt-red {
  border: 1px solid transparent;
  background-color: transparent;
  color: #FF3B30;
}
.btn-alt-red:hover {
  color: #FF3B30;
  border-color: #FF3B30;
}
.btn-alt-red:active {
  color: #FF3B30;
}

.btn-alt-gray {
  border: 1px solid transparent;
  background-color: transparent;
  color: #8E8E93;
}
.btn-alt-gray:hover {
  color: #8E8E93;
  border-color: #8E8E93;
}
.btn-alt-gray:active {
  color: #8E8E93;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label.checkbox {
  cursor: pointer;
  display: block;
  width: 14px;
  background-color: white;
  height: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  position: relative;
}

label.checkbox:hover {
  border-color: #FF2D70 !important;
}

input[type=checkbox]:checked + label.checkbox {
  border-color: #FF2D70;
}
input[type=checkbox]:checked + label.checkbox:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FF2D70;
}

input[type=radio] + label.radio {
  cursor: pointer;
  display: block;
  width: 14px;
  background-color: white;
  height: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  position: relative;
}

label.radio:hover {
  border-color: #FF2D70 !important;
}

input[type=radio]:checked + label.radio {
  border-color: #FF2D70;
}
input[type=radio]:checked + label.radio:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #FF2D70;
}

.search-bar {
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #eee;
  background-color: #f3f3f3;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.search-bar > * {
  margin-right: 5px;
}

input, select {
  font-size: inherit;
  line-height: 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 8px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
input.code, select.code {
  flex-shrink: 0;
  width: 5rem;
}
input.word, select.word {
  flex-shrink: 0;
  width: 12rem;
}
input:focus, select:focus {
  border-color: rgba(255, 45, 112, 0.6);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
  -moz-box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
}

select {
  min-width: 80px;
}
select option {
  padding: 10px;
}

.footer {
  background-color: #f3f3f3;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
  padding: 5px 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: #000;
}
.footer .footer-toolbar {
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar > * {
  margin-right: 30px;
  white-space: nowrap;
}
.footer .footer-toolbar .link-list {
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar .link-list .link {
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer .footer-toolbar .link-list .link:hover {
  transition: all 0.1s;
  color: #FF2D70;
}
.footer .footer-toolbar .info-list {
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar .info-list .number {
  margin-left: 2px;
}
.footer .footer-toolbar .info-list > * {
  margin-right: 10px;
}

.group-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.catalog-list {
  border-right: 1px solid #eee;
  width: 110px;
  flex-shrink: 0;
  overflow-y: auto;
}
.catalog-list .catalog-item {
  text-align: center;
  line-height: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.catalog-list .catalog-item > div {
  height: 20px;
}
.catalog-list .catalog-item:hover {
  background-color: rgba(255, 45, 112, 0.05);
}
.catalog-list .catalog-item.active {
  background-color: #FF2D70;
  color: white;
}
.catalog-list::-webkit-scrollbar {
  z-index: 50;
  width: 1px;
}
.catalog-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.catalog-list::-webkit-scrollbar-thumb {
  background-color: #eee;
}
.catalog-list:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.group-list {
  flex-grow: 1;
  overflow-y: auto;
}

.dropdown {
  position: relative;
}
.dropdown-body {
  z-index: 100;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.file-list {
  margin-left: 5px;
  max-height: 400px;
  border: 1px solid #66afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  color: #000;
  flex-shrink: 0;
  background-color: white;
  overflow-y: auto;
}
.file-list-item {
  min-width: 100px;
  text-align: center;
  line-height: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.file-list-item:last-child {
  border-bottom: none;
}
.file-list-item > div {
  height: 20px;
}
.file-list-item:hover {
  background-color: rgba(0, 122, 255, 0.05);
}
.file-list-item.active, .file-list-item:active {
  background-color: #007AFF;
  border-bottom-color: #007AFF;
  color: white;
}
.file-list::-webkit-scrollbar {
  z-index: 50;
  width: 1px;
}
.file-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.file-list::-webkit-scrollbar-thumb {
  background-color: #eee;
}
.file-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 122, 255, 0.7);
}

.config-list .config-list-item {
  padding: 3px 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.config-list .config-list-item .name {
  color: #333;
}
.config-list .config-list-item .path {
  margin-left: 30px;
  color: #848484;
}
.config-list .config-list-item:last-child {
  border-bottom: none;
}
.config-list .config-list-item:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  border-bottom-color: transparent;
  background-color: rgba(0, 122, 255, 0.05);
}
.config-list .config-list-item.active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FF2D70;
  border-bottom-color: #FF2D70;
}
.config-list .config-list-item.active .name, .config-list .config-list-item.active .path {
  color: white;
}

.config .container {
  padding: 10px 25px;
}
.config section {
  margin-bottom: 30px;
}
.config section .section-title {
  padding: 10px 0;
}
.config section .section-title h3 {
  font-weight: bold;
  font-size: 15px;
}
.config section .section-title .desc {
  font-size: 12px;
  color: #848484;
}
.config section .section-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px 10px 10px 50px;
}
.config section .section-content .check-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.config section .section-content .check-item > *:first-child {
  margin-right: 10px;
}
.config section .section-content .check-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.config section .section-content .check-list .check-item {
  margin-right: 20px;
}

.audio-switch input {
  display: none;
}
.audio-switch input + label {
  box-sizing: content-box;
  border: 2px solid #848484;
  background-color: #848484;
  position: relative;
  display: block;
  width: 25.2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.audio-switch input + label:before {
  z-index: 10;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  content: "";
  display: block;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.audio-switch input:checked + label {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #4CD964;
  background-color: #4CD964;
}
.audio-switch input:checked + label:before {
  top: 0;
  left: 11.2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #272b32 !important;
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
  }

  body {
    background-color: #1c1f24 !important;
  }

  .search-bar {
    background-color: #1c1f24;
    border-bottom-color: #272b32;
  }

  .group {
    color: #e6e6e6;
  }
  .group .group-header {
    color: #81fffa;
  }
  .group .group-header:hover {
    background-color: #272b32;
  }
  .group .group-header.active {
    background-color: #383f4a;
  }

  .word-item:hover {
    background: #272b32;
  }
  .word-item:hover .checkbox-cell label {
    border-color: #81fffa;
  }
  .word-item:after {
    background-color: #272b32;
  }
  .word-item .code {
    color: #b3b3b3;
  }
  .catalog-list {
    color: #e6e6e6;
    border-right-color: #272b32 !important;
  }
  .catalog-list .catalog-item:hover {
    background-color: #272b32 !important;
  }
  .catalog-list .catalog-item.active {
    color: black !important;
    background-color: #81fffa !important;
  }

  .footer {
    background-color: #1c1f24;
    border-top-color: #383838;
    color: #e6e6e6;
  }
  .footer .link:hover {
    color: #81fffa !important;
  }

  .file-list {
    color: #e6e6e6;
    background-color: #1c1f24;
    border-color: #00448e;
  }
  .file-list-item {
    border-bottom-color: #272b32;
  }
  .file-list-item:hover {
    background-color: #383f4a;
  }
  .file-list-item.active, .file-list-item:active {
    background-color: #007AFF;
    color: white;
  }

  input, select {
    color: #e6e6e6;
  }
  input:focus, select:focus {
    border-color: #81fffa;
    -webkit-box-shadow: 0 0 0 2px rgba(129, 255, 250, 0.5);
    -moz-box-shadow: 0 0 0 2px rgba(129, 255, 250, 0.5);
    box-shadow: 0 0 0 2px rgba(129, 255, 250, 0.5);
  }

  input[type=checkbox] + label.checkbox {
    background-color: #0f0f13;
    border-color: #272b32;
  }

  input[type=checkbox]:checked + label.checkbox {
    border-color: #81fffa;
  }

  label.checkbox:hover {
    border-color: #81fffa !important;
  }

  input[type=checkbox]:checked + label.checkbox:after {
    background-color: #81fffa;
  }

  input {
    background-color: #0f0f13;
    border-color: #383838;
  }

  .btn-primary {
    color: #e6e6e6;
    background-color: #404040;
    border: 1px solid #383838;
  }
  .btn-primary:hover {
    color: #e6e6e6;
    background-color: #404040;
    border: 1px solid #383838;
  }
  .btn-green {
    color: white;
    background-color: #4CD964;
    border: 1px solid #4CD964;
  }
  .btn-green:hover {
    background-color: #2cd048;
    border-color: #2cd048;
  }
  .btn-green:active {
    background-color: #2ac845;
  }

  .btn-cyan {
    color: white;
    background-color: #5AC8FA;
    border: 1px solid #5AC8FA;
  }
  .btn-cyan:hover {
    background-color: #32bbf9;
    border-color: #32bbf9;
  }
  .btn-cyan:active {
    background-color: #29b8f9;
  }

  .btn-blue {
    color: white;
    background-color: #007AFF;
    border: 1px solid #007AFF;
  }
  .btn-blue:hover {
    background-color: #0066d6;
    border-color: #0066d6;
  }
  .btn-blue:active {
    background-color: #0062cc;
  }

  .btn-purple {
    color: white;
    background-color: #5856D6;
    border: 1px solid #5856D6;
  }
  .btn-purple:hover {
    background-color: #3835ce;
    border-color: #3835ce;
  }
  .btn-purple:active {
    background-color: #3331c8;
  }

  .btn-yellow {
    color: white;
    background-color: #FFCC00;
    border: 1px solid #FFCC00;
  }
  .btn-yellow:hover {
    background-color: #d6ab00;
    border-color: #d6ab00;
  }
  .btn-yellow:active {
    background-color: #cca300;
  }

  .btn-orange {
    color: white;
    background-color: #FF9500;
    border: 1px solid #FF9500;
  }
  .btn-orange:hover {
    background-color: #d67d00;
    border-color: #d67d00;
  }
  .btn-orange:active {
    background-color: #cc7700;
  }

  .btn-roseo {
    color: white;
    background-color: #FF2D70;
    border: 1px solid #FF2D70;
  }
  .btn-roseo:hover {
    background-color: #ff0454;
    border-color: #ff0454;
  }
  .btn-roseo:active {
    background-color: #f9004f;
  }

  .btn-red {
    color: white;
    background-color: #FF3B30;
    border: 1px solid #FF3B30;
  }
  .btn-red:hover {
    background-color: #ff1407;
    border-color: #ff1407;
  }
  .btn-red:active {
    background-color: #fc0d00;
  }

  .btn-gray {
    color: white;
    background-color: #8E8E93;
    border: 1px solid #8E8E93;
  }
  .btn-gray:hover {
    background-color: #79797f;
    border-color: #79797f;
  }
  .btn-gray:active {
    background-color: #74747a;
  }

  .btn-alt-primary {
    border-color: transparent;
    background-color: transparent;
    color: white;
  }
  .btn-alt-primary:hover {
    border-color: white;
    color: white;
  }
  .btn-alt-primary:active {
    color: white;
  }

  .btn-alt-green {
    border-color: transparent;
    background-color: transparent;
    color: #4CD964;
  }
  .btn-alt-green:hover {
    border-color: #4CD964;
    color: #4CD964;
  }
  .btn-alt-green:active {
    color: #4CD964;
  }

  .btn-alt-cyan {
    border-color: transparent;
    background-color: transparent;
    color: #5AC8FA;
  }
  .btn-alt-cyan:hover {
    border-color: #5AC8FA;
    color: #5AC8FA;
  }
  .btn-alt-cyan:active {
    color: #5AC8FA;
  }

  .btn-alt-blue {
    border-color: transparent;
    background-color: transparent;
    color: #007AFF;
  }
  .btn-alt-blue:hover {
    border-color: #007AFF;
    color: #007AFF;
  }
  .btn-alt-blue:active {
    color: #007AFF;
  }

  .btn-alt-purple {
    border-color: transparent;
    background-color: transparent;
    color: #5856D6;
  }
  .btn-alt-purple:hover {
    border-color: #5856D6;
    color: #5856D6;
  }
  .btn-alt-purple:active {
    color: #5856D6;
  }

  .btn-alt-yellow {
    border-color: transparent;
    background-color: transparent;
    color: #FFCC00;
  }
  .btn-alt-yellow:hover {
    border-color: #FFCC00;
    color: #FFCC00;
  }
  .btn-alt-yellow:active {
    color: #FFCC00;
  }

  .btn-alt-orange {
    border-color: transparent;
    background-color: transparent;
    color: #FF9500;
  }
  .btn-alt-orange:hover {
    border-color: #FF9500;
    color: #FF9500;
  }
  .btn-alt-orange:active {
    color: #FF9500;
  }

  .btn-alt-roseo {
    border-color: transparent;
    background-color: transparent;
    color: #FF2D70;
  }
  .btn-alt-roseo:hover {
    border-color: #FF2D70;
    color: #FF2D70;
  }
  .btn-alt-roseo:active {
    color: #FF2D70;
  }

  .btn-alt-red {
    border-color: transparent;
    background-color: transparent;
    color: #FF3B30;
  }
  .btn-alt-red:hover {
    border-color: #FF3B30;
    color: #FF3B30;
  }
  .btn-alt-red:active {
    color: #FF3B30;
  }

  .btn-alt-gray {
    border-color: transparent;
    background-color: transparent;
    color: #8E8E93;
  }
  .btn-alt-gray:hover {
    border-color: #8E8E93;
    color: #8E8E93;
  }
  .btn-alt-gray:active {
    color: #8E8E93;
  }
}
body {
  font-size: 12px;
  background-color: white;
}

.container {
  position: relative;
}

.shadow {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.hidden, .prototype {
  display: none;
}

[v-cloak] {
  display: none;
}
