@import "_reset.css";
/*
  Extension
*/
.unselectable, input[type=checkbox] + label.checker, .btn, .btn-group .btn-vertical > *, .word-item .operation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.m-1 {
  margin: 5px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.p-1 {
  padding: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.m-2 {
  margin: 10px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.p-2 {
  padding: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.m-3 {
  margin: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.p-3 {
  padding: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.m-4 {
  margin: 20px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.p-4 {
  padding: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.m-5 {
  margin: 25px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.p-5 {
  padding: 25px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.m-6 {
  margin: 30px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.p-6 {
  padding: 30px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.m-7 {
  margin: 35px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.p-7 {
  padding: 35px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.m-8 {
  margin: 40px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.p-8 {
  padding: 40px !important;
}

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0%, 50%, 100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    -o-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    -o-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.virtual-list {
  height: 100%;
  padding-bottom: 10px;
}

.list-container {
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
}

.group {
  font-size: 13px;
  color: #000;
}
.group .group-header {
  padding: 5px 10px 5px 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.group .group-header.active {
  background-color: rgba(255, 45, 112, 0.05);
}
.group .group-header.active h3 {
  color: #FF2D70;
}
.group .group-header:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 45, 112, 0.05);
}
.group .group-header:hover .operation {
  opacity: 1;
}
.group .group-header input {
  margin-right: 10px;
}
.group .group-header h3 {
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
}
.group .group-header .operation {
  margin-right: 10px;
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.group .group-header .operation > * {
  margin-left: 5px;
}
.group .group-header .tip {
  flex-grow: 1;
  text-align: right;
  font-size: 11px;
  color: #FF2D70;
}

.word-list {
  padding-bottom: 20px;
}

.word-item {
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0 20px;
}
.word-item:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1px;
  width: calc(100% - 45px);
  right: 0;
  background-color: #eee;
}
.word-item .checkbox-cell {
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.word-item .code {
  line-height: 24px;
  min-width: 52px;
  width: 10%;
  color: #333;
}
.word-item .word {
  line-height: 24px;
  flex-shrink: 0;
  flex-grow: 1;
}
.word-item .id {
  width: 39px;
  margin-right: 10px;
  color: #848484;
}
.word-item .operation {
  width: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0.2;
  display: flex;
  justify-content: flex-start;
}
.word-item .operation .up, .word-item .operation .down {
  cursor: pointer;
  padding: 5px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.word-item .operation .up img, .word-item .operation .down img {
  display: block;
  width: 8px;
}
.word-item .operation .up:hover, .word-item .operation .down:hover {
  background-color: white;
}
.word-item .operation .up:active, .word-item .operation .down:active {
  transform: translateY(1px);
}
.word-item:hover {
  background-color: rgba(255, 45, 112, 0.05);
}
.word-item:hover .checkbox-cell label {
  border-color: #FF2D70;
}
.word-item:hover .operation {
  opacity: 1;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.btn, .btn-group .btn-vertical > * {
  font-size: 12px;
  color: inherit;
  line-height: 20px;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  padding: 2px 8px;
  background-color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:active, .btn-group .btn-vertical > :active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.btn:hover, .btn-group .btn-vertical > :hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover:active, .btn-group .btn-vertical > :hover:active {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.btn-sm {
  font-size: 11px;
  line-height: 14px;
  padding: 2px 3px;
}

.no-border {
  border: none !important;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  color: #000;
  background-color: white;
  border: 1px solid #d9d9d9;
}
.btn-primary:hover {
  background-color: #f7f7f7;
  border-color: #d1d1d1;
}
.btn-primary:active {
  background-color: #e6e6e6;
}

.btn-green {
  color: white;
  background-color: #4CD964;
  border: 1px solid #4CD964;
}
.btn-green:hover {
  background-color: #2cd048;
  border-color: #2cd048;
}
.btn-green:active {
  background-color: #2ac845;
}

.btn-cyan {
  color: white;
  background-color: #5AC8FA;
  border: 1px solid #5AC8FA;
}
.btn-cyan:hover {
  background-color: #32bbf9;
  border-color: #32bbf9;
}
.btn-cyan:active {
  background-color: #29b8f9;
}

.btn-blue {
  color: white;
  background-color: #007AFF;
  border: 1px solid #007AFF;
}
.btn-blue:hover {
  background-color: #0066d6;
  border-color: #0066d6;
}
.btn-blue:active {
  background-color: #0062cc;
}

.btn-purple {
  color: white;
  background-color: #5856D6;
  border: 1px solid #5856D6;
}
.btn-purple:hover {
  background-color: #3835ce;
  border-color: #3835ce;
}
.btn-purple:active {
  background-color: #3331c8;
}

.btn-yellow {
  color: white;
  background-color: #FFCC00;
  border: 1px solid #FFCC00;
}
.btn-yellow:hover {
  background-color: #d6ab00;
  border-color: #d6ab00;
}
.btn-yellow:active {
  background-color: #cca300;
}

.btn-orange {
  color: white;
  background-color: #FF9500;
  border: 1px solid #FF9500;
}
.btn-orange:hover {
  background-color: #d67d00;
  border-color: #d67d00;
}
.btn-orange:active {
  background-color: #cc7700;
}

.btn-roseo {
  color: white;
  background-color: #FF2D70;
  border: 1px solid #FF2D70;
}
.btn-roseo:hover {
  background-color: #ff0454;
  border-color: #ff0454;
}
.btn-roseo:active {
  background-color: #f9004f;
}

.btn-red {
  color: white;
  background-color: #FF3B30;
  border: 1px solid #FF3B30;
}
.btn-red:hover {
  background-color: #ff1407;
  border-color: #ff1407;
}
.btn-red:active {
  background-color: #fc0d00;
}

.btn-gray {
  color: white;
  background-color: #8E8E93;
  border: 1px solid #8E8E93;
}
.btn-gray:hover {
  background-color: #79797f;
  border-color: #79797f;
}
.btn-gray:active {
  background-color: #74747a;
}

.btn-alt-primary {
  color: #000;
  background-color: white;
  border: 1px solid #b3b3b3;
}
.btn-alt-primary:hover {
  color: #000;
}
.btn-alt-primary:active {
  color: #000;
}

.btn-alt-green {
  color: #4CD964;
  background-color: white;
  border: 1px solid #4CD964;
}
.btn-alt-green:hover {
  color: #26b33e;
  border-color: #26b33e;
}
.btn-alt-green:active {
  color: #4CD964;
}

.btn-alt-cyan {
  color: #5AC8FA;
  background-color: white;
  border: 1px solid #5AC8FA;
}
.btn-alt-cyan:hover {
  color: #10aff8;
  border-color: #10aff8;
}
.btn-alt-cyan:active {
  color: #5AC8FA;
}

.btn-alt-blue {
  color: #007AFF;
  background-color: white;
  border: 1px solid #007AFF;
}
.btn-alt-blue:hover {
  color: #0055b3;
  border-color: #0055b3;
}
.btn-alt-blue:active {
  color: #007AFF;
}

.btn-alt-purple {
  color: #5856D6;
  background-color: white;
  border: 1px solid #5856D6;
}
.btn-alt-purple:hover {
  color: #2e2cb4;
  border-color: #2e2cb4;
}
.btn-alt-purple:active {
  color: #5856D6;
}

.btn-alt-yellow {
  color: #FFCC00;
  background-color: white;
  border: 1px solid #FFCC00;
}
.btn-alt-yellow:hover {
  color: #b38f00;
  border-color: #b38f00;
}
.btn-alt-yellow:active {
  color: #FFCC00;
}

.btn-alt-orange {
  color: #FF9500;
  background-color: white;
  border: 1px solid #FF9500;
}
.btn-alt-orange:hover {
  color: #b36800;
  border-color: #b36800;
}
.btn-alt-orange:active {
  color: #FF9500;
}

.btn-alt-roseo {
  color: #FF2D70;
  background-color: white;
  border: 1px solid #FF2D70;
}
.btn-alt-roseo:hover {
  color: #e00047;
  border-color: #e00047;
}
.btn-alt-roseo:active {
  color: #FF2D70;
}

.btn-alt-red {
  color: #FF3B30;
  background-color: white;
  border: 1px solid #FF3B30;
}
.btn-alt-red:hover {
  color: #e30c00;
  border-color: #e30c00;
}
.btn-alt-red:active {
  color: #FF3B30;
}

.btn-alt-gray {
  color: #8E8E93;
  background-color: white;
  border: 1px solid #8E8E93;
}
.btn-alt-gray:hover {
  color: #68686d;
  border-color: #68686d;
}
.btn-alt-gray:active {
  color: #8E8E93;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label.checkbox {
  cursor: pointer;
  display: block;
  width: 14px;
  background-color: white;
  height: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  position: relative;
}

label.checkbox:hover {
  border-color: #FF2D70 !important;
}

input[type=checkbox]:checked + label.checkbox {
  border-color: #FF2D70;
}
input[type=checkbox]:checked + label.checkbox:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FF2D70;
}

input[type=checkbox] + label.switch {
  position: relative;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 28px;
  width: 48px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox] + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.switch {
  background-color: #4CD964;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type=checkbox]:checked + label.switch:before {
  content: "";
  display: block;
  position: absolute;
  left: 22px;
  right: 0;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox] + label.checker {
  cursor: pointer;
  display: block;
  border-color: #4CD964;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=checkbox]:checked + label.checker {
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #4CD964;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-group {
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  justify-content: flex-start;
  overflow: hidden;
  border: 1px solid #eee;
  margin: 0 5px 5px 0;
}
.btn-group.dash {
  border-style: dashed;
}
.btn-group.dash > * {
  border-color: inherit;
  border-right-style: dashed;
}
.btn-group > * {
  border-right: 1px solid #eee;
}
.btn-group > *:last-child {
  border-right: none;
}
.btn-group .btn-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.btn-group .btn-vertical > * {
  padding: 2px;
  font-size: 7px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 50%;
  width: 20px;
}
.btn-group .btn-vertical > *:last-child {
  border-bottom: none;
}
.btn-group:last-child {
  margin-right: 0;
}
.btn-group.no-border {
  border: none !important;
}

input[type=radio] + label {
  background-color: white;
}

input[type=radio]:checked + label {
  font-weight: bold;
  background-color: #FF9500;
  color: white !important;
}
input[type=radio]:checked + label:hover {
  background-color: #ffa01a;
}

label.btn, .btn-group .btn-vertical > label {
  min-width: 30px;
  text-align: center;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.search-bar {
  width: 100%;
  overflow-x: auto;
  z-index: 10;
  border-bottom: 1px solid #eee;
  background-color: #f3f3f3;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.search-bar > * {
  margin-right: 5px;
}

input, select {
  font-size: inherit;
  line-height: 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 8px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
input.code, select.code {
  width: 5rem;
  flex-shrink: 0;
}
input.word, select.word {
  flex-shrink: 0;
  width: 12rem;
}
input:focus, select:focus {
  border-color: rgba(255, 45, 112, 0.6);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
  -moz-box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 45, 112, 0.3);
}

select {
  min-width: 80px;
}
select option {
  padding: 10px;
}

.footer {
  background-color: #f3f3f3;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
  padding: 5px 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-toolbar {
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar > * {
  margin-right: 30px;
}
.footer .footer-toolbar .link-list {
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar .link-list .link {
  margin-right: 10px;
  cursor: pointer;
  color: #000;
  transition: all 0.3s;
}
.footer .footer-toolbar .link-list .link:hover {
  transition: all 0.1s;
  color: #FF2D70;
}
.footer .footer-toolbar .info-list {
  color: #000;
  display: flex;
  justify-content: flex-start;
}
.footer .footer-toolbar .info-list .number {
  color: #000;
}
.footer .footer-toolbar .info-list > * {
  margin-right: 15px;
}

body {
  font-size: 12px;
}

.container {
  position: relative;
}

.shadow {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
}

.hidden, .prototype {
  display: none;
}

[v-cloak] {
  display: none;
}
