@import "reset.css";
@import "font";
@import "utility";
@import "normalization";
@import "variables";
@import "gutter";
@import "animate";
@import "list";
@import "button";
@import "searchbar";
@import "footer";
@import "group";
@import "dropdown";
@import "dark";



body{
  font-size: 12px;
  background-color: white;
}

.container{
  position: relative;
}

.shadow{
  @include box-shadow(1px 2px 3px rgba(0,0,0,0.2))
}

.hidden{
  display: none;
}

.prototype{
  @extend .hidden;
}

[v-cloak] {
  display: none
}
