<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>五笔词库管理</title>
    <link rel="stylesheet" href="./scss/wubi.css">
</head>
<body>

<div v-cloak id="app" class="container">
<!--    <div class="search-bar">
        <input type="text" placeholder="搜索" id="keyword">
        <div class="btn-group">
            <div class="btn btn-orange">载入内容</div>
        </div>
    </div>-->

    <div class="display" v-if="dict">
        <table class="table" v-for="(group, index) in dict.dictWithGroup" :key="index">
            <thead>
            <tr>
                <td colspan="3">{{ group.groupName }}</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in group.dict" :key="index">
                <td class="code">{{ item.code }}</td>
                <td class="word">{{ item.word }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="module" src="js/main.js"></script>
</body>
</html>