<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>五笔词库管理</title>
    <link rel="stylesheet" href="./scss/wubi.css">
    <link rel="stylesheet" href="node_modules/vue-virtual-scroller/dist/vue-virtual-scroller.css">
<!--    <script src="node_modules/vue/dist/vue.esm.browser.min.js"></script>-->
</head>
<body>

<div v-cloak id="app">
    <div class="search-bar" v-if="dict">
        <div
            :class="['btn', {'btn-green': labelOfSaveBtn === '保存成功'}, {'btn-primary': labelOfSaveBtn !== '保存成功'} ]"
            ref="domBtnSave"
            @click="saveToFile(dict)">{{ labelOfSaveBtn }}</div>
<!--        <input class="word" ref="domInputWord" v-model="word" @keyup.enter="addNewWord" type="text" placeholder="词条">-->
        <input class="word" ref="domInputWord" v-model="word" type="text" placeholder="词条">
<!--        <input class="code" ref="domInputCode" v-model="code" @keyup.enter="addNewWord" type="text" placeholder="编码">-->
        <input class="code" ref="domInputCode" v-model="code" type="text" placeholder="编码">
        <div class="btn btn-primary" @click="addNewWord">添加</div>
        <div class="btn btn-primary" @click="search">搜索</div>
        <div class="btn btn-roseo" v-show="selectedWordIds.length > 0" @click="deleteWords">删除</div>
        <div class="btn btn-orange" v-show="selectedWordIds.length > 0" @click="addToMain">移至主词库</div>
    </div>

    <!--  normal-mode-->
    <div ref="container"
         v-if="!dict.isGroupMode"
         :style="`height: ${heightContent}px`"
         class="container">
        <div class="list-container">
            <div class="group">
                <recycle-scroller
                    :buffer="1000"
                    :prerender="200"
                    :style="`height: ${heightContent}px`"
                    v-if="words"
                    :min-item-size="24"
                    class="virtual-list"
                    :items="words">
                    <template v-slot="{ item, index }">
                        <div class="word-item">
                            <div class="checkbox-cell">
                                <input
                                    v-model="selectedWordIds"
                                    name="table"
                                    :id="`word${index}`"
                                    type="checkbox"
                                    :value="item.id">
                                <label class="checkbox" :for="`word${index}`"></label>
                            </div>
                            <div class="code">{{ item.code }}</div>
                            <div class="word">{{ item.word }}</div>
                            <div v-if="IS_IN_DEVELOP" class="id">{{ item.id }}</div>
                            <div class="operation">
                                <div class="up" @click="moveUp(item.id)">
                                    <img src="./assets/up.svg" alt="move up">
                                </div>
                                <div class="down" @click="moveDown(item.id)">
                                    <img src="./assets/down.svg" alt="move down">
                                </div>
                                <div  class="down" @click="deleteWord(item.id)">
                                    <img src="./assets/delete.svg" alt="move down">
                                </div>
                            </div>
                        </div>
                    </template>
                </recycle-scroller>
            </div>
        </div>
    </div>

    <!-- group-mode-->
    <div v-else
         :style="`height: ${heightContent}px`"
         class="container">
        <div class="group-container"
             :style="`height: ${heightContent}px`">
<!--分组目录-->
            <div class="catalog-list"
                 :style="`height: ${heightContent}px`">
                <div :class="['catalog-item', {active: -1 === activeGroupId}]"
                     @click="setGroupId(-1)"><div>全部</div></div>
                <div :class="['catalog-item', {active: groupIndex === activeGroupId}]"
                     @click="setGroupId(groupIndex)"
                     v-for="(group, groupIndex) in dict.wordsOrigin"
                     :key="groupIndex">
                    <div>{{group.groupName || '- 未命名 -'}}</div>
                </div>
            </div>
<!-- 分组列表-->
            <div class="group-list"
                 :style="`height: ${heightContent}px`">
                <div class="group" v-for="(group, groupIndex) in words" :key="groupIndex">
                    <!--- GROUP HEADER -->
                    <div class="group-header"
                         @click.right="group.isEditingTitle = !group.isEditingTitle">
                        <template v-if="group.isEditingTitle">
                            <input :key="groupIndex"
                                   v-model="group.groupName"
                                   @keydown.enter="group.isEditingTitle = false" />
                            <div class="operation">
                                <div class="btn btn-sm btn-alt-primary" @click="group.isEditingTitle = false">保存</div>
                            </div>
                        </template>
                        <template v-else>
                            <h3 :key="groupIndex"
                            >{{ group.groupName }}</h3>
                            <div class="operation" >
                                <div class="btn btn-sm btn-alt-primary" @click="group.isEditingTitle = true">编辑</div>
                                <div v-if="activeGroupId === -1" class="btn btn-sm btn-alt-primary" @click="addGroupBeforeId(groupIndex)">添加分组</div>
                                <div class="btn btn-sm btn-alt-roseo" @click="deleteGroup(groupIndex)">删除</div>
                            </div>
                        </template>
<!--                        <p class="tip" v-if="activeGroupId === groupIndex">+  新词将添加到该分组</p>-->
                    </div>

                    <div class="word-list">
                        <div class="word-item" v-for="(item, index) in group.dict" :key="item.id">
                            <div class="checkbox-cell">
                                <input
                                    v-model="selectedWordIds"
                                    name="selectedIds"
                                    :id="`${groupIndex}-${index}`"
                                    type="checkbox"
                                    :value="item.id">
                                <label class="checkbox" :for="`${groupIndex}-${index}`"></label>
                            </div>
                            <div class="code">{{ item.code }}</div>
                            <div class="word">{{ item.word }}</div>
                            <div v-if="IS_IN_DEVELOP" class="id">{{ item.id }}</div>
                            <div class="operation">
                                <div class="up" @click="moveUp(item.id)">
                                    <img src="./assets/up.svg" alt="move up">
                                </div>
                                <div  class="down" @click="moveDown(item.id)">
                                    <img src="./assets/down.svg" alt="move down">
                                </div>
                                <div  class="down" @click="deleteWord(item.id)">
                                    <img src="./assets/delete.svg" alt="move down">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="footer">
        <div class="footer-toolbar">
            <div class="link-list">
                <div class="link" @click="resetInputs">重置</div>
                <div class="link" ref="domBtnSelectAll" @click="selectAll">全选</div>
                <div class="link" @click="openCurrentYaml">打开源文件</div>
            </div>
            <div class="info-list">
                <div class="count" v-if="this.dict.isGroupMode"><span>分组模式</span></div>
                <div class="count">总 <span class="number">{{wordsCount}}</span></div>
                <div class="count"
                     v-if="dict.countDictOrigin !== dict.countDict">显 <span class="number">{{dict.countDict}}</span></div>
                <div class="count">已选 <span class="number">{{selectedWordIds.length}}</span></div>
            </div>
        </div>

        <div class="display">{{display}}</div>
    </div>
</div>

<script type="module" src="js/App.mjs"></script>
</body>
</html>