<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>五笔词库管理</title>
    <link rel="stylesheet" href="./scss/wubi.css">
</head>
<body>

<div v-cloak id="app">
    <div class="search-bar" v-if="dict">
        <input class="word" ref="domInputWord" v-model="word" type="text" placeholder="词条">
        <input class="code" ref="domInputCode" v-model="code" type="text" placeholder="编码">
        <select ref="domSelectGroupId" v-model="groupId">
            <option value="" disabled>分组</option>
            <option :value="index" v-for="(group, index) in dict.dictWithGroupOrigin" :key="index">{{ group.groupName }}</option>
        </select>
        <div class="btn btn-orange" @click="clearInputs">清除</div>
        <div class="btn btn-green" @click="addNewPhrase">添加</div>
        <div class="btn btn-blue" @click="saveDictToFile">保存</div>
        <input v-model="keyword" type="text" placeholder="关键字">
        <div class="btn btn-primary" @click="search">搜索</div>
    </div>

    <div class="container">
        <div class="display" v-if="dict">
            <div class="table-item" v-for="(group, groupIndex) in dict.dictWithGroup" :key="groupIndex">
                <h3>{{ group.groupName }}</h3>
                <table class="table">
                    <tbody>
                    <tr v-for="(item, index) in group.dict" :key="index">
                        <td class="checkbox">
                            <input name="table" :id="`word${groupIndex}${index}`" type="checkbox" :value="`word${groupIndex}${index}`">
                            <label class="checkbox" :for="`word${groupIndex}${index}`"></label>
                        </td>
                        <td class="code">{{ item.code }}</td>
                        <td class="word">{{ item.word }}</td>
                        <td class="operation">
                            <span class="btn btn-sm btn-primary no-border mr-1">up</span> <span class="btn btn-sm btn-primary no-border">down</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="module" src="js/App.js"></script>
</body>
</html>