<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>五笔码表助手配置</title>
    <link rel="stylesheet" href="../../assets/scss/wubi.css">
</head>
<body class="config">

<div v-cloak id="app" class="container">

    <section>
        <div class="section-title">
            <h3>选择初始文件</h3>
            <div class="desc">程序打开时，自动载入的码表文件</div>
        </div>
        <div class="section-content">
            <div class="config-file-list">
                <div @click="setInitFile(file)"
                     :class="['config-file-list-item', {active: file.path === config.initFileName}]"
                     v-for="(file, index) in fileList"
                     :key="index"
                     v-if="fileList"
                >
                    <div class="name">{{file.name}}</div>
                    <div class="path">{{file.path}}</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">
            <h3>自动布署</h3>
            <div class="desc">添加新用户词之后，是否保存当前自动布署</div>
        </div>
        <div class="section-content">
            <div class="check-item">
                <div class="label">加词后，自动保存并布署输入法</div>
                <div class="audio-switch">
                    <input @change="saveConfig" v-model="config.autoDeployOnAdd" checked type="checkbox" id="autoDeployAdd">
                    <label for="autoDeployAdd"></label>
                </div>
            </div>
            <div class="check-item">
                <div class="label">删词后，自动保存并布署输入法</div>
                <div class="audio-switch">
                    <input @change="saveConfig" v-model="config.autoDeployOnDelete" checked type="checkbox" id="autoDeployDelete">
                    <label for="autoDeployDelete"></label>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">
            <h3>回车动作</h3>
            <div class="desc">定义搜索框中按回车键的动作</div>
        </div>
        <div class="section-content">
            <div class="check-list">
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="add" @change="saveConfig"
                               v-model="config.enterKeyBehavior"
                               name="enterKey" id="radioAddNew" type="radio">
                        <label class="radio" for="radioAddNew"></label>
                    </div>
                    <div class="label">添加新词</div>
                </div>
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="search" @change="saveConfig"
                               v-model="config.enterKeyBehavior"
                               name="enterKey" id="radioSearch" type="radio">
                        <label class="radio" for="radioSearch"></label>
                    </div>
                    <div class="label">搜索</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">
            <h3>搜索</h3>
            <div class="desc">搜索匹配的内容</div>
        </div>
        <div class="section-content">
            <div class="check-list">
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="code" @change="saveConfig"
                               v-model="config.searchMethod"
                               name="searchMethod" id="radioSearchCode" type="radio">
                        <label class="radio" for="radioSearchCode"></label>
                    </div>
                    <div class="label">编码</div>
                </div>
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="phrase" @change="saveConfig"
                               v-model="config.searchMethod"
                               name="searchMethod" id="radioSearchPhrase" type="radio">
                        <label class="radio" for="radioSearchPhrase"></label>
                    </div>
                    <div class="label">词条</div>
                </div>
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="both" @change="saveConfig"
                               v-model="config.searchMethod"
                               name="searchMethod" id="radioSearchBoth" type="radio">
                        <label class="radio" for="radioSearchBoth"></label>
                    </div>
                    <div class="label">编码 和 词条</div>
                </div>
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="any" @change="saveConfig"
                               v-model="config.searchMethod"
                               name="searchMethod" id="radioSearchAny" type="radio">
                        <label class="radio" for="radioSearchAny"></label>
                    </div>
                    <div class="label">编码 或 词条</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">
            <h3>配置文件目录</h3>
            <div class="desc">工具自动读取的输入法配置文件目录</div>
        </div>
        <div class="section-content">
            <div class="check-item">
                <p>{{config.rimeHomeDir || '默认目录'}}</p>
                <div class="btn btn-primary" @click="chooseRimeHomeDir">选择</div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-title">
            <h3>主题</h3>
            <div class="desc">切换主题，修改后，需要点击第一个菜单中的 [ 刷新 ]</div>
        </div>
        <div class="section-content">
            <div class="check-list">
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="black" @change="saveConfig"
                               v-model="config.theme"
                               name="theme" id="themeBlack" type="radio">
                        <label class="radio" for="themeBlack"></label>
                    </div>
                    <div class="label">暗黑</div>
                </div>
                <div class="check-item">
                    <div class="checkbox-cell">
                        <input value="auto" @change="saveConfig"
                               v-model="config.theme"
                               name="theme" id="themeAuto" type="radio">
                        <label class="radio" for="themeAuto"></label>
                    </div>
                    <div class="label">跟随系统</div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="module" src="./Config.mjs"></script>
</body>
</html>
