<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>一码多词</title>
    <link rel="stylesheet" href="../../assets/scss/wubi.css">
    <link rel="stylesheet" href="../../node_modules/vue-virtual-scroller/dist/vue-virtual-scroller.css">
</head>
<body>

<div v-cloak id="app">
    <div class="search-bar" v-if="dict">
        <div
            :class="[
                'btn',
                {'btn-green': labelOfSaveBtn === '保存成功'},
                {'btn-primary': labelOfSaveBtn !== '保存成功'} ]"
            ref="domBtnSave"
            @click="saveToFile(dict)">{{ labelOfSaveBtn }}
        </div>
        <div class="dropdown">
            <div class="dropdown-link btn btn-blue" v-show="chosenWordIdArray.length > 0" @click.capture="showDropdown = !showDropdown">移动到...            </div>
            <div class="dropdown-body" v-show="showDropdown">
                <div class="file-list shadow" v-if="dropdownFileList.length > 0">
                    <div :class="['file-list-item', {active: fileIndex === dropdownActiveFileIndex}]"
                         @click="setDropdownActiveIndex(fileIndex)"
                         v-for="(file, fileIndex) in dropdownFileList"
                         :key="fileIndex">
                        <div>{{ file.name }}</div>
                    </div>
                </div>
                <div class="file-list shadow" v-if="targetDict.isGroupMode">
                    <div :class="['file-list-item', {active: index === dropdownActiveGroupIndex}]"
                         v-if="targetDict.isGroupMode"
                         @click="setDropdownActiveGroupIndex(index)"
                         v-for="(group, index) in targetDict.wordsOrigin"
                         :key="index">
                        <div>{{ group.groupName }}</div>
                    </div>
                </div>
                <div class="btn btn-blue shadow ml-1"
                     @click="moveWordsToSecondDict"
                     v-if="targetDict.isGroupMode && dropdownActiveGroupIndex !== -1 || !targetDict.isGroupMode && dropdownActiveFileIndex !== -1"
                >确定</div>
            </div>
        </div>
        <div class="input-item">
            <input class="word" ref="domInputWord" @keyup.enter="enterKeyPressed" v-model="word" type="text" placeholder="词条">
            <div @click="word = ''" v-show="word" class="btn-clear">
                <img src="../../assets/img/delete_white.svg" alt="clear">
            </div>
        </div>
        <div class="input-item">
            <input class="code" ref="domInputCode" @keyup.enter="enterKeyPressed" v-model="code" type="text" placeholder="编码">
            <div @click="code = ''" v-show="code" class="btn-clear">
                <img src="../../assets/img/delete_white.svg" alt="clear">
            </div>
        </div>
        <div class="btn btn-primary" @click="addNewWord">添加</div>
        <div class="btn btn-primary" @click="search">搜索</div>
        <div class="btn btn-roseo" v-show="chosenWordIdArray.length > 0" @click="deleteWords">删除</div>
        <p>显示格式：编码 - 词条</p>

        <template v-if="IS_IN_DEVELOP">

        </template>
    </div>

    <!--  normal-mode-->
    <div ref="container"
         v-if="!dict.isGroupMode"
         :style="`height: ${heightContent}px`"
         class="container tool-container">
        <div class="tool-panel">
            <section>
                <div class="title">载入码表文件</div>
                <div class="content">
                    <div v-if="dict.filename" @click="loadDictFile" class="btn btn-primary">{{ dict.filename}}</div>
                    <div v-else @click="loadDictFile" class="btn btn-primary">选择码表文件</div>
                </div>
            </section>

            <section>
                <div class="title">码表格式</div>
                <div class="content">
                    <div class="btn-list">
                        <div class="btn-item" v-for="item in dictFormatArray" :key="item.name">
                            <div :class="['btn btn-primary', {'btn-orange': dictFormat === item.value}]" @click="changeDictFormat(item.value)">{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title">字数筛选</div>
                <div class="content btn-list">
                    <div class="btn-item" v-for="item in filterCharacterLengthArray" :key="item.name">
                        <div @click="changeFilterWordLength(item.value)" :class="['btn btn-primary', {'btn-green': filterCharacterLength === item.value}]">{{ item.name }}</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title">码表间隔符</div>
                <div class="content">
                    <div class="btn-list">
                        <div class="btn-item" v-for="item in seperatorArray" :key="item.name">
                            <div :class="['btn btn-primary', {'btn-red': seperator === item.value}]" @click="changeSeperator(item.value)">{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title">查重</div>
                <div class="content">
                    <div class="btn-list">
                        <div class="btn-item">
                            <div class="btn btn-primary" @click="checkRepetition(true)">单字</div>
                        </div>
                        <div class="btn-item">
                            <div class="btn btn-primary" @click="checkRepetition(false)">词组</div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="btn btn-primary center" @click="">重新载入</div>
        </div>

        <div class="list-container">
            <div class="group">
                <recycle-scroller
                    :buffer="1000"
                    :prerender="200"
                    :style="`height: ${heightContent}px`"
                    v-if="words"
                    :min-item-size="24"
                    class="virtual-list"
                    :items="words">
                    <template v-slot="{ item, index }">
                        <div class="word-item" @click="select(item.id, $event)">
                            <div class="checkbox-cell">
<!--                                <div :class="['checkbox-item', {active: chosenWordIdArray.some(i => i === item.id)}]"></div>-->
                                <div :class="['checkbox-item', {active: chosenWordIds.has(item.id)}]"></div>
                            </div>
                            <div class="code">{{ item.code }}</div>
                            <div class="word">{{ item.word }}</div>
                            <div v-if="item.priority" title="权重" class="priority">{{ item.priority }}</div>
                            <div v-if="IS_IN_DEVELOP" class="id">{{ item.id }}</div>
                            <div class="operation">
                                <div class="up" @click.stop="moveUp(item.id)">
                                    <img src="../../assets/img/up.svg" alt="move up">
                                </div>
                                <div class="down" @click.stop="moveDown(item.id)">
                                    <img src="../../assets/img/down.svg" alt="move down">
                                </div>
                                <div  class="down" @click.stop="deleteWord(item.id)">
                                    <img src="../../assets/img/delete.svg" alt="move down">
                                </div>
                            </div>
                        </div>
                    </template>
                </recycle-scroller>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="footer">
        <div class="footer-toolbar">
            <div class="link-list">
                <div class="link" ref="domBtnSelectAll" @click="selectAll">全选</div>
                <div class="link" @click="resetInputs">清选</div>
                <div class="link" @click="reloadCurrentFile">重载码表</div>
                <div class="link" @click="sort">排序</div>
                <div class="link origin" @click="openCurrentYaml">{{ dict.filename }}</div>
            </div>
            <div class="info-list">
                <div class="count">总<span class="number">{{dict.countDictOrigin}}</span></div>
                <div class="count"
                     v-if="dict.countDictOrigin !== dict.countDict">显<span class="number">{{wordsCount}}</span></div>
                <div class="count">选<span class="number">{{chosenWordIds.size}}</span></div>
            </div>
        </div>

        <div class="tip">{{tip}}</div>
    </div>
</div>

<script src="Tool.js"></script>
</body>
</html>
