$bg-dropdown: $blue;
$bg-dropdown-highlight: transparentize($bg-dropdown, 0.95);

.dropdown{
  position: relative;
  .dropdown-link{

  }
  .dropdown-body{
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}

.file-list{
  margin-left: 15px;
  max-height: 600px;
  //border: 1px solid lighten($bg-dropdown, 20%);
  @include border-radius($radius);
  overflow: hidden;
  color: $text-main;
  flex-shrink: 0;
  background-color: white;
  overflow-y: auto;
  &:first-child{
    margin-left: 0;
  }
  .file-list-item{
    min-width: 100px;
    @extend .unselectable;
    text-align: center;
    line-height: $catalog-height - $catalog-pd-tb * 2;
    padding: $catalog-pd-tb $catalog-pd-lr;
    cursor: pointer;
    border-bottom: 1px solid $border-color;
    &:last-child{
      border-bottom: none;
    }
    > div{
      height: $catalog-height - $catalog-pd-tb * 2;
    }
    &:hover{
      background-color: $bg-dropdown-highlight;
    }
    &.active, &:active{
      background-color: $bg-dropdown;
      border-bottom-color: $bg-dropdown;
      color: white;
    }
  }
  &::-webkit-scrollbar {
    z-index: 50;
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $border-color;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: transparentize($bg-dropdown, 0.3);
  }
}

