@font-face {
  font-family: "Roboto-v27-light";
  src: url("../fonts/Robotov27-light.woff2");
}

@font-face {
  font-family: "Roboto-v27-regular";
  src: url("../fonts/Robotov27-regular.woff2");
}

@font-face {
  font-family: "Comfortaa-v30";
  src: url("../fonts/Comfortaa-v30.woff2");
}


.font-roboto{
  font-family: "Roboto-v27-light", Roboto, SansSerif;
}

.font-roboto-regular{
  font-family: "Roboto-v27-regular", Roboto, SansSerif;
}

.font-comfortaa{
  font-family: "Comfortaa-v30", Roboto, SansSerif;
}
