.footer{
  background-color: $bg-panel;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid $border-color;
  padding: 0 15px;
  font-size: $fz-button;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  color: $text-main;

  .tip{
    color: $cyan;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1), -1px -1px 0 white;
  }

  .footer-left{
    > *{
      margin-right: 30px;
      white-space: nowrap;
    }
    display: flex;
    justify-content: flex-start;
    .link-list{
      .link{
        @extend .unselectable;
        margin-right: 12px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          transition: all 0.1s;
          color: $color-main;
        }
      }
      .origin{
        font-weight: bold;
        //@extend .font-roboto-regular;
      }
      display: flex;
      justify-content: flex-start;
    }
    .info-list{
      .number{
        @extend .font-roboto-regular;
        margin-left: 2px;
      }
      > *{
        margin-right: 10px;
      }
      display: flex;
      justify-content: flex-start;
    }
  }
  .footer-right{
    display: flex;
    justify-content: flex-end;
  }

}

.footer-icon{
  margin-left: 20px;
  @extend .btn-like;
  width: 20px;
  display: flex;
  align-items: center;
  img{
    display: block;
    width: 100%;
  }
}
