$catalog-height: 30px;
$catalog-pd-tb: 5px;
$catalog-pd-lr: 10px;

.group-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.catalog-list{
  border-right: 1px solid $border-color-panel;
  width: 130px;
  flex-shrink: 0;
  overflow-y: auto;
  .catalog-item{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    @extend .unselectable;
    text-align: center;
    line-height: $catalog-height - $catalog-pd-tb * 2;
    padding: $catalog-pd-tb $catalog-pd-lr;
    cursor: pointer;
    .catalog-title{
      flex-grow: 1;
      flex-shrink: 0;
      height: $catalog-height - $catalog-pd-tb * 2;
    }
    .up, .down{
      border: 1px solid transparent;
      flex-shrink: 0;
      opacity: 0;
      cursor: pointer;
      padding: 5px 6px;
      @include border-radius(2px);
      img{
        display: block;
        width: 8px;
      }
      &:hover{
        background-color: white;
      }
      &:active{
        transform: translateY(1px);
      }
    }
    &:hover{
      background-color: $bg-td-highlighted;
      .up, .down{
        opacity: 0.7;
      }
    }
    &.active{
      background-color: $color-main;
      color: white;
    }
  }
  &::-webkit-scrollbar {
    z-index: 50;
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-scroll-thumb;
  }
}

.group-list{
  flex-grow: 1;
  overflow-y: auto;
}
