.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d-flex{
  display: flex;
}

.jc-center{
  justify-content: center;
}

.al-center{
  align-items: center;
}
