$height-input: 24px;
$padding-input-tb: 3px;
$radius: 3px;

// Colors
$green            : #4CD964;
$cyan             : #2fbcfa;
$blue             : #007AFF;
$purple           : #5856D6;
$roseo            : #FF2D70;
$red              : #FF3B30;
$orange           : #FF9500;
$yellow           : #FFCC00;
$gray             : #8E8E93;

//ELEMTENT COLORS
$color-main       : $roseo;
$border-color-nav: transparentize($color-main, 0.8);
$bg-highlight: transparentize($color-main, 0.2);

//BACKGROUND COLOR
$bg-td: #eee;
$bg-panel: #f3f3f3;
$bg-panel-tool: #f9f9f9;

// BG Scrollbar
$bg-scroll-thumb: #cdcdcd;


$fz-big: 20px;
$fz-title: 15px;
$fz-list: 13px;
$fz-button: 12px;
$fz-modal: 13px;


$color-primary    : #409EFF;
$color-success    : #67C23A;
$color-warning    : #E6A23C;
$color-danger     : #F56C6C;
$color-info       : #909399;

$border-color: #eee;
$border-color-panel: #e6e6e6;
$border-color-input : #ccc;
$border-color-input-modal: #e2e2e2;

$text-main      : #000;
$text-title     : #333;
$text-subtitle  : #848484;
$text-comment   : #c2c2c2;
$text-tool-title: #383f4a;

// USER CENTER
$gradient-blue    : $cyan, $blue;
$gradient-gray    : $gray, darken($gray, 15%);
$gradient-green   : $green, darken($green, 15%);
$gradient-orange  : $orange, darken($orange, 5%);
$gradient-red     : $red, darken($red, 15%);
$gradient-purple  : $purple, darken($purple, 15%);
$gradient-magenta : $roseo, darken($roseo, 15%);
$gradient-yellow  : $yellow, darken($yellow, 15%);
$gradient-time    : #79C1F0, #7E87EF;
